.botonMenu {
    background-color: #343a40!important;
    border: transparent;
}

.iconoMenu {
    color: white;
    font-size: 18px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px;
}
.mat-toolbar-multiple-rows[_ngcontent-mce-c2] {
    min-height: 50px;
}

.mat-toolbar-multiple-rows {
    min-height: 50px;
}